@page "/"

<h3 style="font-size: 2em;">Welcome to Our Application</h3>

<p style="font-size: 1.5em;">
    We're glad to have you here! Feel free to explore the various features and functionalities of our program.
</p>

<p style="font-size: 1.5em;">
    If you're new, you might want to start by checking out the 
    <a href="/announcements" style="color: blue; text-decoration: underline;">Announcements</a> section.
</p>